body{
    top: -14px;
    left: -15px;
    /*width: 100vw;
    height: 1278px;*/
    background: transparent url('../img/92925.png') 0% 0% padding-box no-repeat;
    opacity: 1;
    /*overflow-x: hidden;*/
    background-size: cover;
    scroll-behavior: smooth;
}
.navbar{
    top: 58px;
    left: 0px;
    width: 1920px;
    height: 85px;
    background: #3853A4 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 0.73;
}
.navbar-logo{
    top: 21px;
    left: 143px;
    width: 164px;
    height: 200px;
    /*background: transparent url('../img/Rectangle 601.png') 0% 0% no-repeat padding-box;*/
    opacity: 1;

}
.navbar-brand{
    /*top: 0px;
    left: 0px;
    width: 162px;
    height: 79px;
    text-align: left;
    font: regular 59px/79px dana;
    letter-spacing: 0px;*/
    color: #29F55D;
    font-size: 29px;
}
.sign-in{
    border-radius: 20px;
    background-color: rgb(10, 30, 88);
    color: white;
    border: 2px solid rgb(7, 19, 56);
    margin-top: 9px;
    padding: 5px;
    font-size: 18px;
}
.navbar-brand:hover{
    color:#29F55D ;
}
.navbar{
    /*margin-left: 148px;
    padding-left: 240px;*/
    width: 99vw;
}
.nav-item > .nav-link{
    margin: 8px;
    color: white !important;
    font-size: 19px;
}
.nav-link:hover{
    text-decoration: bold !important;
}
#home{
    top: 242px;
    left: 143px;
    width: 1680px;
    /*height: 93vh; */
}
.box-section{
    padding: 2em;
    margin: 2.5em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 50px 50px 99px #2222220F;
    border-radius: 30px;
    opacity: 1;
    width: 87.5vw;
}
.home-heading1{
    margin-top: 2.5em;
    font-weight: bold;
    margin: 1em;
}
.home-heading2{
    margin: 1em;
    padding: 0.3em;
    color: #8D8D8D;
    font-size: 1.2em;
}
.home-heading3{
    margin: 1rem;
    padding: 0.1em;
    letter-spacing: 5.78px;
    color: #707070;
    opacity: 0.24;
    font-size: 4em;
}
.home-heading4{
    color: #707070;
    margin: 1em;
    margin-top: 0.6em;
    font-size: 1.9em;
}
.home-register{
    background: #3853A4 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    margin: 1em;
    margin-left: 1.4em;
    height: 3em;
    width: 10em;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 1px;
    border: none;
}
.about-heading1{
    color: #000000;
    opacity: 0.48;
    font-weight: bold;
    font-size: 4em;
}
.about-heading2{
    letter-spacing: 0.08em;
    color: #707070;
    opacity: 0.24;
    font-size: 2.7em;
}
.stat-list{
    list-style: none;
    display: flex;
    color: #00000099;
    padding: 0;
    margin: 0;
    /* align-content: center; */
    justify-content: center;
}
.stat-heading1{

}
.stat-heading2{
    font-size: 4em;
    font-weight: bold;
}
.stat-list > li{
    padding: 2em;
    text-align: center;
}
li>i{
    font-size: 5em;
    
}
.faq-heading{
    margin: 1em;
    margin-left: 0;
    text-decoration: bold;
}
.faq-list >li >i{
    color: #3853A3;
    width: 1.3em;
    height: 1em;
}
.faq-list{
    list-style: none;
    padding-left: 0;
}
.faq-list>li{
    margin: 0.9em;
}
.faq-list-point{
    display: inline-flex;
    font-size: 1.2em;
}
/*Contact section*/
.contact_head{
    text-align: center;
    justify-items: center;
    font: Bold 40px/108px Product Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
div.margin_div {
    margin: 2rem;
}
::placeholder{
    top: 127px;
    left: 635px;
    width: 163px;
    height: 2rem;
    text-align: left;
    font: Regular 29px/35px Product Sans;
    letter-spacing: 1.45px;
    color: #E5E5E580;
    opacity: 0.71;
    padding: 3px;
}
input.name {
    margin: 0.6rem;
    width: 20rem;
    height: 6.5rem;
    border: 2px lightgrey;
    color: grey;
    border-radius: 7px;
    background: #FFFFFF26 0% 0% no-repeat padding-box;
    opacity: 1;
}
input.mail_sub {
    margin: 0.6rem;
    width: 41.5rem;
    height: 6.5rem;
    border: 2px lightgrey;
    color: grey;
    border-radius: 7px;
    background: #FFFFFF26 0% 0% no-repeat padding-box;
    opacity: 1;
}
input.forms {
    margin: 0.6rem;
    width: 41.5rem;
    height: 15rem;
    border: 2px lightgrey;
    color: grey;
    border-radius: 7px;
    background: #FFFFFF26 0% 0% no-repeat padding-box;
    opacity: 1;
}
input{
    height: 3em !important;
    padding: 5px !important;
}
.social-icon{
    float:right;
    font-size:3em;
    color:white;
}
.contact-notes{
    height:
}
.contact-btn{
    margin-left:2.5rem;
    width: 12%;
    /* height: 6%; */
    text-align: center;
    /* font: Bold 45px/54px Product Sans; */
    letter-spacing: 1.01px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    font-size: 1.4em;
    background-color: blue;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    
}
.home-bottom-nav{
    list-style:none;
    display:flex;
    padding: 1.5em;
    margin:0;
}
.home-bottom-nav > li{
    padding: 1em;
    font-size: 1.2em;
}
.home-bottom-nav > li > a{
    color: white;
}
.dashboard-body{
    background: #3853A452 0% 0% no-repeat padding-box;
    opacity: 1;
}
.dashboard-heading{
    letter-spacing: 0px;
    color: #43425D;
    font-size: 1.5em;
    margin: 1em;
    opacity: 1;
}
.dashboard-3box{
    display:inline-flex;
    margin: 1em;
    /*height: 92px;*/
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #0000000A;
    opacity: 1;
    padding:0.5em;
}
.dashboard-3box > i {
    font-size: 2.2em;
    padding-top: 0.3em;
}
.dashboard-2box{
    display:inline-flex;
    margin: 1em;
    /*height: 92px;*/
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #0000000A;
    opacity: 1;
    padding:0.5em;
}
.dashboard-ul{
    list-style: none;
    margin-left:0;
    font-size:0.7em;
}
.user-pic{
    position: absolute;
    /* left: 0; */
    font-size: 2em;
    /*top: 2em;*/
}
th,td{
    padding:0.5em;
}
.ul-margin{
    padding-left:0;
    list-style: none;
}
.bookmark{
    position: absolute;
    right: 0;
}
.row-line{
    height: 1px;
    background: #F1F1F3 0% 0% no-repeat padding-box;
}
.pro-plus-sign{
    position: absolute;
    bottom: 0;
    /* left: auto; */
    left: 50%;
}

/*Dashboard profile page styles*/
.profile-name{
    padding: 1em;
    margin: 1em;
    display: flex;
    position:relative;
}
.profile-details{
    margin:2em
}
.pro-caption{
    position: absolute;
    bottom: 0;
    /* display: inline-block; */
    /* left: 7.5vw; */
    left: 0;
    display: flex;
    /* border-radius: 80%; */
    justify-content: center;
    width: 16vw;
    background: black;
}
.dash-name{
    font-size: 3em;
    color: white;
}
.dash-industry{
    color: #00000073;
    font-size: 1.2em;
}
.dash-email{
    color: #00B2FF;
    font-size: 1.2em;
}
/*Search page*/
.search-body{
    background-color: white !important;
}
.search-navbar-logo{
    
        top: 21px;
        left: 143px;
        /* width: 164px; */
        /* height: 200px; */
        /* background: transparent url(../img/Rectangle 601.png) 0% 0% no-repeat padding-box; */
        opacity: 1;
    
}
.search-navbar{
    left: 0px;
    top:0;
    width: 99vw;
    height: 85px;
    background: #3853A4 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 0.73;
}
.search-heading{
    top: 204px;
left: 61px;
width: 225px;
height: 91px;
text-align: left;
font: Regular 75px/91px Product Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid grey;
  }
  
   .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 26px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: #ccc;
  }
  .search-icon::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  .search-social-icon{
      padding:0.5em;
  }